<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="./app-details.html">
<link rel="import" href="../styles/app-styles.html">

<dom-module id="app-table">
  <template>
    <style include="app-styles">
      :host {
        display: block;
      }
      .table thead th.table-headers{
        font-size: 1.5em;
        color: #666;
      }
      
    </style>
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="table-headers" width="3%" scope="col">#ID</th>
          <th class="table-headers" width="15%" scope="col">First</th>
          <th class="table-headers" width="15%" scope="col">Last</th>
          <th class="table-headers" width="15%" scope="col">Email</th>
          <th class="table-headers" scope="col">Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><app-details class="div-info"></app-details></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><app-details></app-details></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><app-details></app-details></td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `app-table` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class AppTable extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return "app-table";
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {};
      }
    }

    window.customElements.define(AppTable.is, AppTable);
  </script>
</dom-module>
