<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="app-message">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <div>           
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus
            quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
            diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
            Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.
            Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>

    </template>

    <script>
        /**
         * `app-message` 
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class AppMessage extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'app-message';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {

                };
            }

        }

        window.customElements.define(AppMessage.is, AppMessage);
    </script>
</dom-module>