<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./app-table.html">
<dom-module id="app-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <hr>
    <h4>Elemento hijo: Tabla</h4>
    <app-table></app-table>
  </template>

  <script>
    /**
     * `app-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppElement extends Polymer.Element {
      static get is() { return 'app-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'app-element'
          }
        };
      }
    }

    window.customElements.define(AppElement.is, AppElement);
  </script>
</dom-module>
